*, *:before, *:after{
    box-sizing: border-box;
}
*:not(i) {
    font-family: 'Montserrat', sans-serif !important;
}
*:focus {
    outline: none !important;
}
.logo h4{
    letter-spacing: 2px;
}
a{
    text-decoration: none !important;
}
.App{
    height: 100vh;
}