.top-bannner-img {
  overflow: hidden;
  border-radius: 7px;
}
.top-bannner-img::before {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  content: "";
}
.top-bannner-img img {
  width: 100%;
  backdrop-filter: blur(5px) !important;
}
.top-banner-text {
  bottom: 25px;
  left: 31px;
}
@media (max-width: 575px) {
  .top-banner-text {
    bottom: -2px;
    left: 5px;
  }
}
.top-banner-text h2 {
  font-size: 35px;
  font-weight: 800;
  overflow: hidden;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .top-banner-text h2 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .top-banner-text h2 {
    font-size: 13px;
  }
}
.top-banner-text h2 a {
  display: block;
  color: #fff;
  line-height: 1.3;
}
.top-banner-text.top-banner-text2 h2 {
  font-size: 22px;
  font-weight: 800;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .top-banner-text2 h2 {
    font-size: 13px;
  }
}
@media (max-width: 575px) {
  .top-banner-text2 h2 {
    font-size: 13px;
  }
}
.card-block {
  min-height: 140px;
  background: transparent;
}
.continue-scroll {
  overflow-y: hidden;
}
.delete-button {
  top: 0;
  right: 0;
  display: block;
  transition: all 0.3s;
  z-index: 1 !important;
}
