.edit-input input {
  width: 350px;
  border: none;
  height: 45px;
  padding-right: 15px;
  background: #f0f0f0;
  border-radius: 25px;
}
.edit-btn:focus,.edit-btn:hover{
  color:white !important;
}
